{% load static %}

<!doctype html>
<head>
<title>Booking Page</title>
<style>
     a:link{
    
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: bolder;
}

.nav-link{
    color:darkorange;
}

a button{
    border:1px solid black;
    height:50px;
    width:150px;
    border-radius:70px;
    background-color: white;
    margin-left:40px;
    font-weight: bolder;
    padding:10px;
}

</style>
<link rel="stylesheet" href="{% static 'CSS/card1.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar bg-dark" style="color:black;">
        <a class="navbar-brand" href="{% url 'Myapp:base' %}"><img src="{% static 'IMAGES/logo.png' %}" alt="Image9" width="150px" height="80px"></a></br></br>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav">
                <li class="nav-item" style="margin-left:580px;">
                    <a class="nav-link active" href="{% url 'Myapp:about_us' %}">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Myapp:gallery' %}">Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Myapp:order' %}">Order Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Myapp:login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Myapp:sign_up' %}">Sign Up</a>
                  </li>
                  
              </ul>
              </div>
              </nav>
</br>
</br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:25px;">
                <img class="card-img-top" src="{% static 'IMAGES/image1.jpg' %}" alt="Card image cap" width="170px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">Samsung Gear Fit 2 Pro</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 6700</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:50px;">
                <img class="card-img-top" src="{% static 'IMAGES/image2.jpg' %}" alt="Card image cap" width="120px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;MI Band 3</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 1700</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:70px;">
                <img class="card-img-top" src="{% static 'IMAGES/image3.jpg' %}" alt="Card image cap" width="170px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;MI Smart Band 4</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 2090</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
              </div>
        </div>
    </div>
</br>
</br>
</br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:25px;">
                <img class="card-img-top" src="{% static 'IMAGES/image4.jpg' %}" alt="Card image cap" width="170px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;M3 Fitness Band</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 1400</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:50px;">
                <img class="card-img-top" src="{% static 'IMAGES/image5.jpg' %}" alt="Card image cap" width="120px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;Health Bracelet</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 4500</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:70px;">
                <img class="card-img-top" src="{% static 'IMAGES/image6.jpg' %}" alt="Card image cap" width="170px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Realme Band</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 1000</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
            </div>
        </div>
    </div>
</br>
</br>
</br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:25px;">
                <img class="card-img-top" src="{% static 'IMAGES/image7.jpg' %}" alt="Card image cap" width="170px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;Fitness Tracker</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 9000</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:50px;">
                <img class="card-img-top" src="{% static 'IMAGES/image8.jpg' %}" alt="Card image cap" width="120px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;Touch Screen Watch</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 4000</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;margin-left:70px;">
                <img class="card-img-top" src="{% static 'IMAGES/image9.jpg' %}" alt="Card image cap" width="170px" height="240px" style="padding:20px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;Xeck Smart Band</h5>
                  <p class="card-text" style="font-weight: bolder;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Cost &nbsp; &nbsp; &nbsp; Rs. 2600</p>
                  <a href="#"><button>Order Now</button></a>
                </div>
              </div>
        </div>
    </div>
</div>
</br>
</br>
{% include "partials/_footer.html" %}
</body>
</html>