.card-body{
    margin-left:0px;
}

button{
    text-decoration: none;
    background-color: white;
    font-size:15px;
    color:black;
    margin-left:60px;
    border-radius:80px 100px;
    
}

button:hover{
    background-color:black;
    color:white;
}